.fondocolor{
    background-color: aqua;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: aqua;
}


header {
    display: flex;
    height: 200px;
    margin: 10px 10px 10px 10px;
    flex-direction:wrap;
    flex-wrap: wrap;
    background-color: aqua;
    
}
div .caja {
    height: 30px;
    padding: 10px 10px 10px 10px;
  border: 3px solid green;
  
        background-color: rgb(255, 115, 0);
        /*background-image: url(/Imagenes/ANUBISv3.png);*/
       
}
img{
 width: 150px;
 margin: 0px 10px 25px 40px;

}

nav {
    margin: rigth 20px;
    position:absolute;
    top:70px;
    right: 0;
    padding: 30px 50px 10px 20px;
}
nav li{
    display: inline-flex;
    margin: 0 0 0 15px;

}
nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 17 px;
    text-decoration: none;
}

h1 {
    padding: 5px 5px 5px 5px;
}
div h1 .patrullas img{
    padding: 5px 5px 5px 5px;
    width: 1820px;
    height: 550px;
    margin: 10px 30px;
    }

.Bloque1 {


    background-color: rgb(210, 213, 250);
    margin: 5px 5px;
    padding: 1%;

}
.Subtitulo{
    background-color: rgb(210, 213, 250);
    margin: 5px 5px;
    padding: 1%;
}

.Bloque2 {



    background-color: rgb(210, 213, 250);
    margin: 5px 5px;
    padding: 1%;

    
}
.Bloque3 {

    background-color: rgb(210, 213, 250);
    margin: 5px 5px;
    padding: 1%;

    
}
.Bloque4 {
    background-color: rgb(252, 252, 255);
    margin: 5px 5px;
    padding: 1%;
    
}
section div img{
    padding: 5px 5px 5px 5px;
    width: 600px;
    height: 550px;
    margin: 10px 30px;
}



.contenido-Bloque4{
    background-color: rgb(255, 255, 255);
    margin: 5px 5px;
    padding: 1%;
}
.lista-Dispositivos{
    background-color: rgb(255, 255, 255);
    margin: 5px 5px;
    padding: 1%;
}
.items{
    background-color: rgb(210, 213, 250);
}
.imagen-Bloque4{
    background-color: rgb(255, 255, 255);
    display: block;
    margin:0 auto;
}
.video{
    margin: 5px 28%;
    padding: 10px 10px;
        background-color: rgb(255, 255, 255);
}
footer div img{
    margin: 5px 46%;
    width: 150px;
    height: 187px;
}

.copyright{
    text-align: center;
    
    }
.sct{
    text-align: center;
   
}
.dgot{
    text-align: center;

}
.zv1{
    text-align: center;
}
.zv1{
    text-align: center;
}
.zv2{
    text-align: center;
}
.zv3{
    text-align: center;
}
.zv4{
text-align: center;
}
.zv5{
    text-align: center;
}
.zv6{
    text-align: center;
}
.zv7{
    text-align: center;
}

ul .menu{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    background-color: aqua;
}
.row-1{
    width:100%;
    height: 80px;
    background-color: blue;
    margin:auto;
   
}
.col-1{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    background-color: rgb(45, 95, 95);
}
.col-2{
    background-color: aqua;
    width: 100%;
    height: 40px;
}
div .img-anubis{
    width: 10px;
    height: 30px;

}
p-2 flex-fill .img{
    width: 120px;;
    height: 120px;;
}

li:nth-child(1){
    flex-grow: 2;
}


.subsecretaria{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    background-color: aqua;
    
   
}
.dgot-dgit-dgant{
    display: flex;
    flex-direction:wrap;
    flex-wrap: wrap;
    background-color: aqua;
    
   
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    
}
.row {
    display: flex;
    margin: 10px 0;
    border: 2px;
   
}
div.column {
    flex: 1; /* Cada columna tomará el mismo espacio */
    padding: 10px;
    box-sizing: border-box; /* Incluye padding en el ancho total */
    border: 1px solid #ccc; /* Borde para visualizar las columnas */
    background-color: #f4f4f4; /* Color de fondo */
    flex-flow:column wrap;
    align-items: center;
    
    
}
.column div img{
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    width: 150px;
    height: 150px;
    padding: 5px 10px;
    align-items: center;
    border: 2px;
     
    
}
.container-sct {
    background-color: rgb(54, 17, 156);
  
}   
.row-sct{
    background-color: #c0c0c0;
    text-align: center;

}
.row-sct div img{
    width: 150px;
    height: 150px;

}
.row-dgot-dgit-dgant{
    background-color: #c0c0c0;
    text-align: center;

}
.column-dgot-dgit-dgant div img{
    width: 150px;
    height: 150px;

}
.row-zonas{
    background-color: #c0c0c0;
    text-align: center;
}
.column-zonas div img{
    width: 150px;
    height: 150px;

}
.row-dgit{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.row-dgit div img{
    background-color: #c0c0c0;
    width: 150px;
    height: 150px;
   
}
.column-dgit{
        flex: 1; /* Cada columna tomará el mismo espacio */
        padding: 10px;
        box-sizing: border-box; /* Incluye padding en el ancho total */
        border: 1px solid #ccc; /* Borde para visualizar las columnas */
        background-color: #f4f4f4; /* Color de fondo */
        flex-flow:column wrap;
        align-items: center;

    }
.row-dgant {
    text-align: center;
    display: flex;
    flex-direction: column;
       
}
.row-dgant div img{

    background-color: #c0c0c0;
    width: 150px;
    height: 150px;
}
.column-dgant{

    flex: 1; /* Cada columna tomará el mismo espacio */
    padding: 10px;
    box-sizing: border-box; /* Incluye padding en el ancho total */
    border: 1px solid #ccc; /* Borde para visualizar las columnas */
    background-color: #f4f4f4; /* Color de fondo */
    flex-flow:column wrap;
    align-items: center;
}


/*estos son loc olores de los link en es orden siempre  */
a:link {
	color:blueviolet;
}
a:visited{
	color: gray;
}
a:hover{
	color:yellow;
}
a:active{
	color:red;
}
@media (width < 900px){
    .list1 {flex-grow: 4;}
    .menu {flex-grow: 4;}

}