/* etiqueta body */
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #4929fa;
   
    
}
 

header {
    display: flex;
    flex-wrap: wrap;
    height: 200px;
        
}


/* logo anubis sm */

.logoAnubis{
 width: 150px;
 height: 150px;
 margin: 0px 10px 25px 40px;
}
.logoAnubis-header{
  
    width: 150px;
    height: 150px;
}
/* Boton de Navegacion */
nav {
    margin: rigth 20px;
    position:absolute;
    top:70px;
    right: 0;
    padding: 30px 50px 10px 20px;
}
nav li{
    display: inline-flex;
    margin: 0 0 0 15px;
    font-weight: bold;
    font-size: 17px;


}
nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
}
/* etiqeta de subtitulo imagen  */
h1 {
    padding: 5px 5px 5px 5px;
    border-color: #222222;
    border:2cm;
    border-radius:3%;
}
/* imagen principal */
div h1 .patrullas img{
    padding: 5px 5px 5px 5px;
    width: 1820px;
    height: 550px;
    margin: 10px 30px;
    
    }

    .patrullas img{
    border: #d5d81a;
   
  
    }
.Bloque1 {

    background-color: rgb(210, 213, 250);
    margin: 5px 5px;
    padding: 1%;
    border-radius:2%;
    width: 98%;

}
/* Subtitulo Bloque 1 */
.Subtitulo{
    background-color: rgb(210, 213, 250);
    margin: 5px 5px;
    padding: 1%;
   
}
/* Bloque 2 */
.Bloque2 {
    background-color: rgb(210, 213, 250);
    margin: 5px 5px;
    width: 98%;
    padding: 1%;
}
/* Bloque 3 */
.Bloque3 {
    background-color: rgb(210, 213, 250);
    margin: 5px 5px;
    padding: 1%;
    width: 98%;
}
/* Bloque 4 */
.Bloque4 {
    background-color: rgb(252, 252, 255);
    margin: 5px 5px;
    padding: 1%;
    width: 99%;

}
/* Bloque div de foto */
section div .foto-anubis-final{
    padding: 5px 5px 5px 5px;
    width: 1080px;
    height: 400px;
    margin:auto;
}

/* contenedro bloque 4 */
.contenido-Bloque4{
    background-color: rgb(255, 255, 255);
    margin: 5px 5px;
    padding: 1%;
}
/* lu-li lista  */
.lista-Dispositivos{
    background-color: rgb(255, 255, 255);
    margin: 5px 5px;
    padding: 1%;
}
/* elementos del listado */
.items{
    background-color: rgb(210, 213, 250);
}
/* } foto de anubis al final */
.imagen-Bloque4{
    width: 400px;
    height: 400px;

}
/* } foto de anubis al final */
.imagen-Bloque4{
    background-color: rgb(255, 255, 255);
    display: block;
    margin:0 auto;
}
/* video */
.video{
    margin: 5px 28%;
    padding: 10px 10px;
        background-color: rgb(255, 255, 255);
}
/* imagen de fondo footer */
.fondofooter{
    width: 100%;
    margin: 0%;
    
    
}
/* imagen pie de pagina */
footer div img{
    margin: 5px 46%;
    width: 150px;
    height: 187px;
}

/* HOJA DIRECCIONES */
/* contenedor Navegación Direcciones  */
.container-header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height:200px;
  
    
}
.img-header{
    width: 100%;
    height: 195px;
    position:absolute;
    
   }
   .row-header{
    display: flex;
    flex-direction: row;
   
    width: 100%;
   }
   .column-header1{
    width: 50%;
    height: 200px;
  
    position: relative;

   }
.container-header-1{
    
background-color: #ffffff;
   
   display: flex;
   flex-wrap: wrap;
   width: 500px;


   /* Flex box de Header Direcciones */
}

.container-header-2{
    
    background-color: #ffffff;
   width: 1300px;
   padding:65px 5px 5px 400px;
   display: flex;
   flex-direction: wrap;
   font-weight: bold;
   font-size: 20px;
  

   
 
   /* Flex box de Header Direcciones */
}

.row-header2{
    padding: 80px;
    margin: auto;
    padding: auto;
    text-decoration: none;
  
}
.column-header2{
    display: inline;
    padding: 15px;
  
       
   
    }
.column-header2 a{
        

    }
/* Flexbox del Header */

/* Contenedor Subsecretaria  */

.container-sct{
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
}
.container-sct{
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    text-align: center;
}
.row-sct{
    display: flex;
    flex-wrap: wrap;
   
}
.column-sct{
    
    margin:auto ;
    padding:5px 800px;
    display: flex;
    flex-wrap: wrap;
    
   
}
.column-sct img{
    height: 150px;
    width: 150px;
    
}
/* dgot-dgit-dgant */
.container-dgot-dgit-dgant{
    width: 100%;
    display:flex;
    flex-direction:row;
    background-color: #ebebeb;
    justify-content: center;
   
      
   }
.row-dgot-dgit-dgant{
    display:flex;
    flex-direction:row;
    gap:80px;

    
}
  
   .column-dgot-dgit-dgant{
    border-radius: 10px solid black;
    background-color: #ebebeb;
    
   }
   .column-dgot-dgit-dgant div img{
    width: 160px;
    height: 160px;

}
/* zonas viales  */
.dgot{
    text-align: left;

}
.zv1{
    text-align: center;
}
.zv1{
    text-align: center;
}
.zv2{
    text-align: center;
}
.zv3{
    text-align: center;
}
.zv4{
text-align: center;
}
.zv5{
    text-align: center;
}
.zv6{
    text-align: center;
}
.zv7{
    text-align: center;
}

ul .menu{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    background-color: #ebebeb;
}
.row-1{
    width:100%;
    height: 80px;
    background-color: rgb(184, 184, 184);
    margin:auto;

}
.col-1{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    background-color: rgb(99, 99, 99);
}
.col-2{
    background-color: rgb(133, 133, 133);
    width: 100%;
    height: 40px;
}
div .img-anubis{
    width: 10px;
    height: 30px;

}
p-2 flex-fill .img{
    width: 120px;;
    height: 120px;;
}

li:nth-child(1){
    flex-grow: 2;
}

.container-zonas {
    width: 80%;
    margin: auto;


}
.row {
    display: flex;
    margin: 10px 0;
    border: 2px;

}
div.column {
    flex: 1; /* Cada columna tomará el mismo espacio */
    padding: 10px;
    box-sizing: border-box; /* Incluye padding en el ancho total */
    border: 1px solid #000000; /* Borde para visualizar las columnas */
    background-color:  #ffffff; /* Color de fondo */
    flex-flow:column wrap;
    align-items: center;


}
.column div img{
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    width: 160px;
    height: 160px;
    padding: 5px 10px;
    align-items: center;
    border: 2px;


}

.row-dgot-dgit-dgant{
    margin: 0%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ebebeb;
    font-size: 22px;
    text-align: center;
    gap: 40px;
    
    
}


.container-zonas{
    background-color: #ffffff;
    border-radius: 2%;
    padding: 10px 100px 10px 100px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns:1fr;
}
.row-zonas{
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    justify-content:space-around;
    

}
.row-zonas{
    text-align: center;
}
.column-zonas{
    border-radius: 2%;
}
.column-zonas div img{
    width: 160px;
    height: 160px;

}
.row-dgit{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.row-dgit div img{
    background-color: #ffffff;
    width: 160px;
    height: 160px;

}
.column-dgit{
        flex: 1; /* Cada columna tomará el mismo espacio */
        padding: 10px;
        box-sizing: border-box; /* Incluye padding en el ancho total */
        border: 1px solid #222222; /* Borde para visualizar las columnas */
        background-color: #f4f4f4; /* Color de fondo */
        flex-flow:column wrap;
        align-items: center;

    }
.row-dgant {
    text-align: center;
    display: flex;
    flex-direction: column;

}
.row-dgant div img{

    background-color: #ffffff;
    width: 160px;
    height: 160px;
}
.column-dgant{

    flex: 1; /* Cada columna tomará el mismo espacio */
    padding: 10px;
    box-sizing: border-box; /* Incluye padding en el ancho total */
    border: 1px solid #3b3b3b; /* Borde para visualizar las columnas */
    background-color: #f7f3f3; /* Color de fondo */
    flex-flow:column wrap;
    align-items: center;
}

/* prueba  */
.container-prueba1{
display:flex;
flex-wrap: wrap;
}
.container-prueb1{
    margin: auto;
    
    border-color: #0c9bc7;
    background-color: #4929fa;
    padding: 2px;


}
.container-prueb2 .anubiscont{
    margin: auto;    
    border-color: #46b612;
    background-color: #044b10;
    padding: 2px;
    height: 150px;
    width: 150px;

    


}
.column-prueb2{
    margin: auto;
    padding: 2px;
    background-color: #d5d81a;
    border:#000000;
    display: inline;

}
.row-prueb{
    margin: auto;
    padding: 2px;
    background-color: #0c9bc7;
    border:#000000
    

    

}
.column-prueb{
    margin: auto;
    padding: 2px;
    background-color: #45dd09;
    border:#4929fa 30px;
    

}


/*  */


/* fuin prueba  */
/*estos son loc olores de los link en es orden siempre  */
a:link {
	color:blueviolet;
}
a:visited{
	color: gray;
}
a:hover{
	color:rgb(4, 24, 202);
}
a:active{
	color:red;
}

.container-prueba {
    background-color: lightsalmon;
    border: 3px solid black;
    border-radius:10px;
    display:grid; 
}

.container-prueba div{
    border:2px solid #09f;
        background: lightblue;
        border-radius:6px;

}
.container-prueba-2{
    background-color: #044b10;
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: repeat(2, minmax(50px,1fr));
}   
.container header{
     background-color: #09f;
     grid-column:1/-1;
}

.container aside{
    background-color: #d5d81a;

}
.container main{
    background-color: red;
}
/* Footer */
.container-footer{
    margin: 0%;
   width: 100%;   
   height:200px;
   
   display: flex;
   flex-direction: row;
   justify-content:center;
         
}
footer{
    margin: 0%;
    width: 100%;
}
.fondofooter{
    width: 99%;
  
    position: relative;
}
.row-footer{
  
    background-color: transparent;
    width: 99%;
    height: 189px;
    position: absolute ;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    
      
}
.column-footer1{
    position: absolute;
    background-color: transparent;
    position: relative;
 
    width: 99%;
    height: 180px;
   align-items: center;
}
.column-footer2{
    position: absolute;
    background-color: transparent;
    position: relative;
    
    width: 99%;
    height: 180px;
    align-items: center;
   
   
}
  
.img-anubis-footer{
    
    width: 120px;
    height: 120px; 
    align-items: center;
  
}
.copyright-footer{
 margin: 0%;  
width: 100%;
text-align: center;


}
/* termino Footer */
/* Formulario  */
.formulario1{
    width: 100%;
    height: 30%;
    border:4px solid #222222;
}
.row-formulario{
    width: 100%;
    height: 10%;
    border:4px solid #222222;
    display: flex;
    flex-direction: row;
}
.column-formulario{
    width: 100%;
    height: 10%;
    border:4px solid #e22b2b;
}
.column-formulario-1{
    display: flex;
    flex-direction: row;
}
/* Contenedor Formulario */
.form-inf{
    width:90%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 5%;
    padding:10px 50px 50px 10px;
    border: 2px solid #ffffff;

   
 
}
.container-infr{
    border: 4px solid #131212;
    width: 30%;
    margin:0%;
    border-radius: 10px;
   
}
.row-inf{
    justify-content: center;

}
.column-inf1{
    margin: 0%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: auto;
    gap:20px
    
}
#enviar{
    margin: 0%;
    width:80px;
    padding: 5px 10px 5px 10px;
}
.column-inf2{
    margin: 5px;
    padding: 10px 10px;
   display: flex;
   flex-direction: column;
    align-items: center;
    gap: 15px;
}
/* Login */
.container-login{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 730px;
    display: flex;
    flex-wrap: wrap;
    border:4px solid #000000;
    background-image:url(Imagenes/fondo-login.png);
    background-size: 100% 945px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
      
}
.row-login{
    width: 40%;
    height: 645px;
   display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: solid 9px white;
    border-radius: 9px;
    padding-bottom: 250px;
   
    

}
.column-login{
    width:250px;
    height:80px;
   display: flex;
    flex-direction: column;
    gap:8px
}
.column-login-img{
     width:250px;
    height:250px;
}
.img-login{
    width: 250px;
    height: 250px;
    

}
.form-login{
    width:250px;
    height:250px;
       
}
.column-login-acceder{
    margin: 0%;
    width:50%;
    height:50%;
    padding: 15px 0px 0px 40%;
 
    
}







@media(max-width: 600px){
   
}

